{% extends 'base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold text-white bg-indigo-600  px-4 py-2 shadow-md">{{ post.title }}</h1>
    <div>
    {{  post.content }}
    </div>
    <div>Written by {{ post.user.username }}</div>

    <div>
    <h2 class="text-xl">Comments</h2>

    {% for comment in post.comments %}
        <div class="m-2 p-4 bg-gray-200 rounded shadow-lg">
        {{ comment.content }}
        <span class="block">Written at {{ comment.dttm.strftime("%Y-%m-%d %H:%M") }}</span>
        </div>
    {% endfor %}
    </div>

    <a href="{{ url_for('home') }}">Go Home</a>
{% endblock %}